:root{
  --my-hue:160;
}
html{
  max-width: 1024px;
  margin: 0px auto;
  
}
body{
  font-family: "Helvetica Neue",'Hannotate TC','Verdana',sans-serif;
  color: hsl(var(--my-hue), 35%, 55%);
  letter-spacing: 0.1em;
  overflow-y: scroll;
  margin:0px;
  padding:0px;
  background-color: hsl(var(--my-hue), 40%, 95%);
  font-size:16px;
  max-width: 100%;
}
#header{
  max-width: 1024px;
  position: fixed;
  height: 60px;
  width:100%;
  /* background-color:hsl(var(--my-hue), 40%, 95%); */
  background-color: cornsilk;
}
#mainbox{
  background-color: cornsilk;
  max-width: 100%;
  padding-top: 60px;
}
#header h1{
  font-size: 1.3rem;
  margin:auto;
}
.navi{
  margin: auto;
}
.navi a{
  font-size:0.7rem;
  cursor:pointer;
  text-decoration: none;
  color:hsl(var(--my-hue), 35%, 55%);
}
.navi a:hover{
  color:hsl(calc(var(--my-hue)+80), 35%, 55%);
  background-color:hsl(calc(var(--my-hue) + 60), 50%, 50%);
}
.headercontainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contents{
  padding-top: 60px;
  margin-top:-60px;
}
.contents p{
  padding-left: 5px;
  color: hsl(var(--my-hue), 60%, 45%)
}
@media (min-width: 600px) {
  #header h1{
    font-size: 1.8rem;
    margin: auto;
    text-align:center;
  }
  #header{
    position: fixed;
    height: 80px;
    width:100%;
  }
  #mainbox{
    padding-top: 80px;
  }
  .navi a{
    font-size:1.6rem;
  }
  .contents{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    margin-top:-80px;
  }
  .contents p{
    padding-left: 10px;
  }
}